<md-grid-list cols="7" rowHeight="2:1">
  <!--<md-grid-tile *ngFor="let m of mes">{{m}}</md-grid-tile>-->
  <md-grid-tile>L</md-grid-tile>
  <md-grid-tile>M</md-grid-tile>
  <md-grid-tile>X</md-grid-tile>
  <md-grid-tile>J</md-grid-tile>
  <md-grid-tile>V</md-grid-tile>
  <md-grid-tile>S</md-grid-tile>
  <md-grid-tile>D</md-grid-tile>
  <md-grid-tile>1</md-grid-tile>
  <md-grid-tile>2</md-grid-tile>
  <md-grid-tile>3</md-grid-tile>
  <md-grid-tile>4</md-grid-tile>
  <md-grid-tile>5</md-grid-tile>
  <md-grid-tile>6</md-grid-tile>
  <md-grid-tile>7</md-grid-tile>
  <md-grid-tile>8</md-grid-tile>
  <md-grid-tile>9</md-grid-tile>
  <md-grid-tile>10</md-grid-tile>
  <md-grid-tile>11</md-grid-tile>
  <md-grid-tile>12</md-grid-tile>
  <md-grid-tile>13</md-grid-tile>
  <md-grid-tile>14</md-grid-tile>
  <md-grid-tile>15</md-grid-tile>
  <md-grid-tile>16</md-grid-tile>
  <md-grid-tile>17</md-grid-tile>
  <md-grid-tile>18</md-grid-tile>
  <md-grid-tile>19</md-grid-tile>
  <md-grid-tile>20</md-grid-tile>
  <md-grid-tile>21</md-grid-tile>
  <md-grid-tile>22</md-grid-tile>
  <md-grid-tile>23</md-grid-tile>
  <md-grid-tile>24</md-grid-tile>
  <md-grid-tile>25</md-grid-tile>
  <md-grid-tile>26</md-grid-tile>
  <md-grid-tile>27</md-grid-tile>
  <md-grid-tile>28</md-grid-tile>
  <md-grid-tile>29</md-grid-tile>
  <md-grid-tile>30</md-grid-tile>
  <md-grid-tile>31</md-grid-tile>
</md-grid-list>
