<md-grid-list cols="2" rowHeight="50px">
	<md-grid-tile rowspan="1" colspan="2">
		<h3>¿Aun no estas registrado?</h3>
	</md-grid-tile>
	<md-grid-tile rowspan="1" colspan="1">
		<md-input-container>
			<input mdInput placeholder="Usuario">
		</md-input-container>
	</md-grid-tile>
	<md-grid-tile rowspan="1" colspan="1">
		<md-input-container>
			<input mdInput placeholder="Contraseña">
		</md-input-container>
	</md-grid-tile>
	<md-grid-tile rowspan="1" colspan="2">
		<button md-raised-button color="primary">
			Registrarse
		</button>
	</md-grid-tile>
</md-grid-list>
